@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  width: 100vw;
  height: 100vh;
  background-color: #121212;
  word-break: keep-all;
}

body {
  color: #dddddd;
}

input,
textarea {
  background-color: transparent;
  padding: 0.5rem;
}

a {
  text-decoration: underline;
}
